body {
    color: black;
    text-align: center;
    background-image: url("../Images/Catch'em.png");
    background-size: cover;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#reverseString {
    text-transform: lowercase;
}


